.icon {
    width: 70px;
    transform: scale(-1, 1);
}

.eye-red {
    font-size: 16pt;
    vertical-align: middle; 
    color:var(--red);
    transition: all 0.3s;
}

.eye-blue {
    font-size: 16pt;
    vertical-align: middle; 
    color:var(--blue);
    transition: all 0.3s;
}