





/* SceneFilter */
.tag {
    padding:  4px 6px; 
    border-radius: 8px;
    margin-right: 5px; 
    margin-bottom: 10px;
    flex-wrap: nowrap;
    color: var(--text2);
    font-size: small;
    width: fit-content;
    border: 1px solid; 
    flex: none;
}

.dropdownButton {
    border: 1px solid; 
    padding: 4px; 
    text-align: center; 
    border-radius: 8px;
    cursor: pointer;
    font-size: small;
    background-color: var(--bg);
    border-color: var(--text2);
    color: var(--text2);
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;
}

/* SceneListItem */
.sceneItem {
    background-color: var(--fg);
    color: var(--text);
    transition: all 0.3s, visibility 0.3s, display 0.5s;
    cursor: pointer;
    line-height: 1.5715;
    border-radius: 20px;
}

.sceneItemGhost {
    background-color: var(--bg);
    color: var(--bg);
    transition: all 0.3s, visibility 0.3s, display 0.5s;
    line-height: 1.5715;
    border-radius: 20px;
}

.sceneItemTop{
    padding: 6% 4% 2% 4%;
    width:100%; 
    margin-bottom:-10px;
}

.scrollable {
    overflow: scroll;
    scrollbar-width: 0;
    scrollbar-color: green;
    display:flex;

    width: inherit;
    scroll-behavior: smooth;
    scroll-margin-bottom: 0;
}



.filterTagBox {
    padding-left: 10px;
}

.sceneItemTop h1{
    color: var(--text);
}


.tagMatch {
    border-color: var(--blue);
    color: var(--blue);
}

.tagNoMatch {
    color: #a1a1a9;
}

.sceneItemBottom {
    text-align: right;
    padding: 0% 3% 4% 0%;
}
button.sceneItemBottom {
    text-align: right;
    padding: 0% 0% 0% 0%;
}

.detailsButton {
    margin-left: 10px;
    border-radius: 8px;
    background-color: var(--fg);
    color: var(--text2);
    border-color: #a1a1a9;
}

/* Misc */
.smallMarginLeft {
    margin-left: 5px;
}