.collapse {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, 0.85);
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5715;
    list-style: none;
    font-feature-settings: 'tnum', "tnum";
    background-color: #fafafa;
    border: 1px solid #d9d9d9;
    border-bottom-color: rgb(217, 217, 217);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    vertical-align: middle;
    border-radius: 2px;
}

.collapse-head {
    position: relative;
    padding: 12px 16px;
    padding-left: 16px;
    padding-left: 40px;
    color: rgba(0, 0, 0, 0.85);
    line-height: 1.5715;
    cursor: pointer;
    -webkit-transition: all 0.3s, visibility 0s;
    transition: all 0.3s, visibility 0s;
    vertical-align: middle;
    padding:5%;
}

.collapse-body {
    box-sizing: border-box;
    padding: 16px;
    color: rgba(0, 0, 0, 0.85);
    background-color: #fff;
    border-top: 1px solid #d9d9d9;
}
.collapse-body-hide {
    display: none;
}

h4 {
    text-align: left;
    margin: auto;
    display:flex;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none; 
}