.colordot {
    width: 15px;
    height: 15px;
    border-radius: 10px;
    box-shadow: 0 0 0 1px rgba(0,0,0,.1);
}

/* palette picker */
.anticon svg { 
    vertical-align: baseline; 
};

/* swatch */
div.sketch-picker {
    margin: auto;
    border: none;
    box-shadow: 0 0 0 !important; 
    padding: 0% !important;
    width: 100%;
    background-color: rgba(255, 255, 255, 1);
    touch-action: none;
};