.activeLink {
    color: var(--header-text);
    font-weight: bold;
}

.inactiveLink {
    color: var(--bg);
    font-weight: normal;
}

.header {
    position: fixed; 
    z-index: 1; 
    width: 100%; 
    text-align: left;
    background-color: var(--header);
    padding: 0% 5%;
}